@charset "UTF-8";
/* variables */
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap);
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

.footer {
  background: linear-gradient(#3f3e3e, black);
  background-size: cover; }

.webmaster {
  color: #cecece;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: center;
  padding-top: 5%; }

.first {
  margin-top: 5%;
  margin-bottom: 10%;
  color: #cecece;
  font-family: 'Roboto', sans-serif; }

.first h4 {
  font-size: 18px;
  letter-spacing: 3px;
  position: relative;
  margin-bottom: 20px;
  color: #fff;
  padding-bottom: 0.5em; }

.first h4::after {
  content: '';
  background: #66c83d;
  width: 20%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0; }

.first p {
  font-size: 14px; }

.second {
  margin-top: 5%;
  margin-bottom: 10%;
  color: #cecece;
  font-family: 'Roboto', sans-serif;
  text-align: center; }

.second2 {
  margin-top: 5%;
  margin-bottom: 10%;
  color: #cecece;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-left: 1%; }

.second h4 {
  font-size: 18px;
  letter-spacing: 3px;
  position: relative;
  margin-bottom: 20px;
  color: #fff;
  padding-bottom: 0.5em; }

.second h4::after {
  content: '';
  background: #66c83d;
  width: 20%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 40%; }

.second li {
  list-style: none;
  padding-bottom: 20px; }

.second a, .second2 a {
  color: #cecece;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  transition: 0.2s; }

.second a:hover, .second2 a:hover {
  color: #fff;
  transition: 0.2s;
  text-shadow: 1px 1px 20px black;
  text-decoration: none; }

.third {
  margin-top: 5%;
  margin-bottom: 10%;
  color: #cecece;
  font-family: 'Roboto', sans-serif;
  text-align: right; }

.third h4 {
  font-size: 18px;
  letter-spacing: 3px;
  position: relative;
  margin-bottom: 20px;
  color: #fff;
  padding-bottom: 0.5em; }

.third h4::after {
  content: '';
  background: #66c83d;
  width: 20%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 80%; }

.third li {
  list-style: none;
  padding-bottom: 15px; }

.third a {
  color: #cecece;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  transition: 0.2s; }

.third a:hover {
  color: #fff;
  transition: 0.2s;
  text-shadow: 1px 1px 20px black; }

@media screen and (max-width: 1000px) {
  .first {
    text-align: center; }
  .first h4::after {
    left: 40%; } }

@media screen and (max-width: 1000px) {
  .third {
    text-align: center; }
  .third h4::after {
    left: 40% !important; } }

.margin {
  margin-left: 20px; }

.line {
  height: 2px;
  background-color: #cecece;
  width: 100%; }

.container h1 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px; }

.redes-sociales--padding a {
  padding-left: 1%; }

.ubicacion {
  height: 20px;
  padding-right: 1%; }

.mail1 {
  height: 18px;
  padding-right: 1%; }

/* CSS General */
* {
  margin: 0;
  padding: 0; }

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  margin-right: -15px;
  margin-left: -15px; }

.contenedor-error404__section--error404 {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 20%;
  padding-right: 20%; }

/* Fuentes */
@font-face {
  font-family: 'BalooRegular';
  src: url("../assets/font/BalooChettan2-Regular.ttf"); }

@font-face {
  font-family: 'Lato300';
  src: url("../assets/font/Lato-Light.ttf"); }

/* CSS para NAV */
.navbar__logo {
  width: 80px;
  padding-left: 30%;
  height: 60px; }

.navbar {
  background-image: linear-gradient(to left, #333333, black); }

.navbar-nav .nav-link {
  color: white !important;
  padding-left: 60px !important; }

.navbar-nav .nav-link:hover {
  color: #0fdf0f !important; }

.colNavBar {
  background-image: linear-gradient(to left, #333333, black); }

.navbar li a {
  vertical-align: top;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%; }

.navbar a:hover {
  color: #0fdf0f; }

/* CSS colores borde Gradiante animado */
/* variables para borde gradiente animado */
.css-selector-bordeDegradee {
  background: linear-gradient(270deg, #ee7752, #e73c7e, #23a605, #23d5ab);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 5s ease infinite;
  -o-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite;
  height: 4px; }

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-o-keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

/* variables index */
/*Google Fonts */
.carousel-item {
  height: 30rem;
  background-size: cover;
  background-position: center center; }

/* CSS Body Index */
.body-index {
  background-image: linear-gradient(to left, #333333, black); }

.stickyNav {
  position: sticky;
  z-index: 9999;
  top: 0; }

/* CSS para fotos carousel */
.img-aurora4 {
  background-image: url(../assets/img/bienvenidos.png); }

.img-cloud2 {
  background-image: url(../assets/img/cloud2.png); }

.img-code1 {
  background-image: url(../assets/img/code2.png); }

.img-security1 {
  background-image: url(../assets/img/security2.png); }

.img-programming {
  background-image: url(../assets/img/programming.png); }

.img-aurora4 h3 {
  font-size: 70px;
  color: white;
  text-align: center;
  padding-top: 4%;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-shadow: 2px 2px 4px white; }

/* Center align the text within the three columns below the carousel */
.marketing {
  border-radius: 5px;
  justify-content: center;
  margin-top: 2%;
  margin-left: 5%;
  /* background: linear-gradient(to left,#e9e7e7b7,rgba(99, 98, 98, 0.797)); */
  margin-right: 5%;
  margin-bottom: 5%; }

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center; }

.marketing h2 {
  font-weight: 400;
  color: white; }

.marketing p {
  color: white; }

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem; }

.disk {
  height: 40%;
  width: 40%;
  padding-left: 23%;
  padding-bottom: 5%; }

.www {
  height: 40%;
  width: 40%;
  padding-left: 20%; }

.camara {
  height: 40%;
  width: 40%;
  padding-left: 23%;
  padding-bottom: 5%; }

.div-disk {
  justify-content: center; }

/* CSS para Noticias */
/* variables para Css Noticias */
.body-noticias {
  background: linear-gradient(to left bottom, #ddd9d9, rgba(238, 232, 232, 0.883)); }

.contenido-noticias--borde-noticia {
  margin-left: 15%;
  margin-right: 15%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 4px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 10px;
  margin-bottom: 25px;
  box-shadow: 7px 13px 37px #000; }

.contenido-noticias--titulo-noticia {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding-top: 10px; }

.contenido-noticias--estilo-texto-noticia {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 18px;
  text-align: justify;
  padding-left: 15px;
  padding-right: 15px; }

.contenido-noticias--img-noticia {
  padding-bottom: 10px;
  height: 100%;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: block; }

.videos {
  display: flex;
  justify-content: center;
  padding-bottom: 1%; }

/* CSS para Contactos */
/* variables locales */
.bodyContacto {
  background: linear-gradient(to left bottom, #ddd9d9, rgba(238, 232, 232, 0.883)); }

.contact-form {
  margin-left: 7.1%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 83.2%;
  border-radius: 4px;
  background: linear-gradient(to bottom, #5a5858, #cfc6c6); }

.contact-form .form-control {
  border-radius: 1rem; }

.contact-image {
  text-align: center;
  padding-top: 5%; }

.contact-image img {
  border-radius: 6rem;
  width: 11%;
  margin-top: -3%;
  transform: rotate(29deg); }

.contact-form form {
  padding: 14%; }

.contact-form form .row {
  margin-bottom: -7%; }

.contact-form h3 {
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold; }

/* Mapa para boton */
.contact-form .btnContacto, .contact-form .btnContactoLimpiar {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: linear-gradient(to left, #45df45, #024902);
  color: #fff;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: bold;
  margin-left: 25%; }

.contact-form .btnContacto:hover, .contact-form .btnContactoLimpiar:hover {
  background: linear-gradient(to left bottom, #555454, rgba(238, 232, 232, 0.883)); }

.btnContactoEnviar {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
  flex-direction: row; }

/* Extend para botón Limpiar */
.contact-form .btnContactoLimpiar {
  background: linear-gradient(to left, #110dcf, #6b69db); }

.mapa-google-div {
  border-radius: 4px;
  margin-left: 7%;
  background: linear-gradient(to bottom, #5a5858, #cfc6c6);
  width: 100%;
  margin-bottom: 2%; }

.mapa-google--posicion {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%; }

/* CSS para titulos Principales en secciones */
/* Variables para titulos principales */
.titulo-principal--estilo {
  background-color: black;
  color: white;
  text-shadow: 2px 2px 4px white;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  text-align: center;
  font-weight: bold; }

/* CSS para Nosotros */
/* Variables para seccion nosotros */
.bodyNosotros {
  background: linear-gradient(to left bottom, #ddd9d9, rgba(238, 232, 232, 0.883)); }

.container-fotos-nosotros {
  justify-content: center; }

.contenido-nosotros--estilo {
  color: white;
  padding-bottom: 2%;
  padding-top: 5%;
  border: 2px solid #777373;
  height: 100%;
  border-radius: 4px;
  background: linear-gradient(to bottom, #308f1fdf, rgba(0, 0, 0, 0.883));
  width: 100%; }

.contenido-nosotros-1--estilo {
  color: white;
  padding-bottom: 2%;
  padding-top: 5%;
  border: 2px solid #797777;
  height: 98.5%;
  border-radius: 4px;
  padding-left: 1%;
  margin-left: 1%;
  margin-top: 0.5%;
  background: linear-gradient(to bottom, #2156e9df, rgba(0, 0, 0, 0.883)); }

.contenido-nosotros--estilo h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  padding-top: 2%;
  padding-left: 20px;
  padding-right: 20px; }

.contenido-nosotros-1--estilo h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  padding-top: 5%;
  padding-left: 20px;
  padding-right: 20px; }

.foto--database-foto {
  padding-top: 1%;
  height: 100%;
  width: 98%;
  border-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-bottom: 1%; }

.foto--it-service-foto {
  padding-left: 1%;
  height: 100%;
  width: 100%; }

.foto--networking-foto {
  padding-top: 1%;
  height: 100%;
  width: 98%;
  border-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-bottom: 1%;
  /* margin-right: 5%; */ }

/* CSS para Apple*/
/* variables para sección Apple */
.img-fluid {
  border-radius: 5px;
  padding-bottom: 2%;
  margin-top: 3%; }

.apple {
  background: linear-gradient(to left bottom, #b6b1b1, rgba(238, 232, 232, 0.883));
  justify-content: center; }

.apple-elemento--estilo-caja {
  background: linear-gradient(to bottom, #711313, #dc6262);
  padding-top: 2%;
  margin-top: 3%;
  height: 93%; }

.apple-elemento--estilo-h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  color: white; }

.apple-elemento ul {
  margin-left: 10%;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px; }

.apple--elemento li {
  display: flex;
  justify-content: center; }

.apple-elemento--lista-estilo {
  list-style: none; }

.ipad-foto--estilo {
  height: 96.4%;
  width: 105%; }

@media only screen and (max-width: 767px) {
  .contenido-nosotros--estilo h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    padding-top: 2%;
    padding-left: 20px;
    padding-right: 20px; }
  .contenido-nosotros-1--estilo h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    padding-top: 1%;
    padding-left: 20px;
    padding-right: 20px; }
  .foto--database-foto {
    padding-top: 1%;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-bottom: 1%; }
  .foto--it-service-foto {
    padding-left: 1%;
    height: 100%;
    width: 100%;
    padding-top: 1%; }
  .foto--networking-foto {
    padding-top: 1%;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-bottom: 1%; }
  .contenido-noticias--titulo-noticia {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding-top: 10px; }
  .contenido-noticias--titulo-noticia h2 {
    font-size: 20px;
    font-weight: bold; }
  .contenido-noticias--borde-noticia {
    margin-left: 2%;
    margin-right: 2%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 4px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 7px 13px 17px #000; }
  .contenido-noticias--img-noticia {
    padding-bottom: 10px;
    height: 100%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block; }
  .contact-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px; }
  .btnContacto, .contact-form .btnContactoLimpiar {
    margin-left: 25%; }
  .mapa-google-div {
    margin-right: 10%;
    margin-left: 7%;
    width: 100%;
    margin-bottom: 2%; }
  .mapa-google--posicion {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%; }
  .img-aurora4 h3 {
    font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 10%;
    font-weight: bold;
    font-family: "Roboto", sans-serif; }
  .carousel-item {
    height: 25rem;
    background-size: cover;
    background-position: center center; }
  .marketing h2 {
    font-weight: 16px;
    color: white; }
  .marketing p {
    color: white; }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem; }
  /* .col-lg-3{padding-left: 20%;} */
  .disk {
    height: 35%;
    width: 35%;
    padding-left: 20%; }
  .www {
    height: 35%;
    width: 35%;
    padding-left: 20%; }
  .camara {
    height: 35%;
    width: 35%;
    padding-left: 20%; }
  .apple-elemento--estilo-h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    font-size: 20px; }
  .apple-elemento ul {
    margin-left: 10%;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 15px; }
  .ms-elemento--estilo-h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    font-size: 20px; }
  .ms-elemento ul {
    margin-left: 10%;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px; }
  .ms-elemento--lista-estilo li {
    font-size: 15px; }
  .linux-elemento--estilo-h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    font-size: 20px; }
  .linux-elemento ul {
    margin-left: 10%;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px; }
  .linux-elemento .linux-elemento--lista-estilo {
    font-size: 15px; }
  .seg-elemento--estilo-h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    font-size: 20px; }
  .seg-elemento ul {
    margin-left: 10%;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 15px; }
  .seg-elemento .seg-elemento--lista-estilo {
    font-size: 15px; }
  .redes-elemento--estilo-h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    font-size: 20px; }
  .redes-elemento ul {
    margin-left: 10%;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 15px; }
  .redes-elemento .redes-elemento--lista-estilo {
    font-size: 15px; }
  .disenio-elemento--lista-estilo li {
    font-size: 15px; }
  .disenio-elemento--estilo-h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
    font-size: 20px; }
  .disenio-elemento ul {
    margin-left: 10%;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 15px; } }

@media only screen and (max-width: 600px) {
  .div-www {
    padding-bottom: 10%; }
  .div-disk {
    padding-bottom: 10%;
    padding-top: 10%; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .marketing h2 {
    font-weight: 16px;
    color: white; }
  .marketing p {
    color: white; }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem; }
  .col-lg-3 {
    padding-left: 30%; }
  .disk {
    height: 35%;
    width: 35%;
    padding-left: 20%; }
  .www {
    height: 35%;
    width: 35%;
    padding-left: 20%; }
  .camara {
    height: 35%;
    width: 35%;
    padding-left: 20%; } }

/* CSS para Microsoft-Linux*/
/* variables para sección Microsoft-Linux */
/* Css para Microsoft */
.img-fluid {
  border-radius: 5px;
  padding-bottom: 2%;
  margin-top: 3%; }

.ms-linux {
  background: linear-gradient(to left bottom, #b6b1b1, rgba(238, 232, 232, 0.883));
  justify-content: center; }

.ms-elemento--estilo-caja {
  background: linear-gradient(to bottom, #010008, #080350);
  padding-top: 2%;
  margin-top: 3%;
  height: 93%;
  border-radius: 5px; }

.ms-elemento--estilo-h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  color: white; }

.ms-elemento ul {
  margin-left: 10%;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px; }

.ms--elemento li {
  display: flex;
  justify-content: center; }

.ms-elemento--lista-estilo {
  list-style: none; }

.linux-elemento--estilo-caja {
  background: linear-gradient(to bottom, #0c6bb8, #5eb7eb);
  padding-top: 2%;
  margin-top: 3%;
  height: 93%;
  border-radius: 5px; }

.linux-elemento--estilo-h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  color: white; }

.linux-elemento ul {
  margin-left: 10%;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px; }

.linux--elemento li {
  display: flex;
  justify-content: center; }

.linux-elemento--lista-estilo {
  list-style: none; }

/* CSS para Redes-Seguridad*/
/* variables para sección Redes-Seguridad */
/* Css para Seguridad */
.img-fluid {
  border-radius: 5px;
  padding-bottom: 2%;
  margin-top: 3%; }

.redes-seg {
  background: linear-gradient(to bottom, #8d8c8c, rgba(238, 232, 232, 0.883));
  justify-content: center; }

.seg-elemento--estilo-caja {
  background: linear-gradient(to bottom, #4d39d3, #080350);
  padding-top: 2%;
  margin-top: 3%;
  height: 93%;
  border-radius: 5px; }

.seg-elemento--estilo-h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  color: white; }

.seg-elemento ul {
  margin-left: 10%;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px; }

.seg--elemento li {
  display: flex;
  justify-content: center; }

.seg-elemento--lista-estilo {
  list-style: none; }

.redes-elemento--estilo-caja {
  background: linear-gradient(to bottom, #073820, #0a9649);
  padding-top: 2%;
  margin-top: 3%;
  height: 93%;
  border-radius: 5px; }

.redes-elemento--estilo-h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  color: white; }

.redes-elemento ul {
  margin-left: 10%;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px; }

.redes--elemento li {
  display: flex;
  justify-content: center; }

.redes-elemento--lista-estilo {
  list-style: none; }

/* CSS para Diseño Web*/
/* variables para sección Diseño Web */
/* Css para Diseño */
.img-fluid {
  border-radius: 5px;
  padding-bottom: 2%;
  margin-top: 3%; }

.disenio {
  background: linear-gradient(to left bottom, #b6b1b1, rgba(238, 232, 232, 0.883));
  justify-content: center; }

.disenio-elemento--estilo-caja {
  background: linear-gradient(to bottom, #010008, #080350);
  padding-top: 2%;
  margin-top: 3%;
  height: 93%;
  border-radius: 5px; }

.disenio-elemento--estilo-h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  color: white; }

.disenio-elemento ul {
  margin-left: 10%;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px; }

.disenio--elemento li {
  display: flex;
  justify-content: center; }

.disenio-elemento--lista-estilo {
  list-style: none; }

.disenio3 {
  height: 95%;
  width: 110%; }

.disenio2 {
  height: 95%; }

@media only screen and (min-width: 1024px) {
  .mapa-google--tamanio {
    width: 99%;
    height: 300px; }
  .contenido-nosotros--estilo {
    color: white;
    padding-bottom: 2%;
    padding-top: 5%;
    border: 2px solid #777373;
    height: 100%;
    border-radius: 4px;
    background: linear-gradient(to bottom, #308f1fdf, rgba(0, 0, 0, 0.883));
    width: 104%; }
  .foto--database-foto {
    padding-top: 1%;
    height: 100%;
    width: 105%;
    border-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-bottom: 1%; }
  .foto--it-service-foto {
    padding-left: 1%;
    height: 100%;
    width: 100%; }
  .foto--networking-foto {
    padding-top: 1%;
    height: 100%;
    width: 106%;
    border-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-bottom: 1%;
    /* margin-right: 5%; */ } }
