


@media only screen and (min-width:1024px)
{

    // Css para Contactos

    .mapa-google--tamanio{width: 99%;height: 300px;}

    // CSS para Nosotros
    .contenido-nosotros--estilo{
        color:white;padding-bottom: 2%;padding-top: 5%;border: 2px solid rgb(119, 115, 115);
        height:100%;border-radius: 4px;background: $fondoNosotros;
        width: 104%;
    } 
    .foto--database-foto{padding-top: 1%;height:100%;width:105%;border-radius: 4px;border-bottom-left-radius: 4px;padding-bottom: 1%;}
    .foto--it-service-foto{padding-left:1%;height:100%;width:100%;} 
    .foto--networking-foto{padding-top: 1%;height:100%;width:106%;border-radius: 4px;border-bottom-left-radius: 4px;padding-bottom: 1%;
    /* margin-right: 5%; */ } 
}