/* CSS para Nosotros */

/* Variables para seccion nosotros */

$fondoNosotros1: linear-gradient(to bottom,#2156e9df,rgba(0, 0, 0, 0.883));
$fondoNosotros:linear-gradient(to bottom,#308f1fdf,rgba(0, 0, 0, 0.883));

.bodyNosotros{background: linear-gradient(to left bottom,#ddd9d9,rgba(238, 232, 232, 0.883))}
.container-fotos-nosotros{justify-content:center;}

.nosotros--server2{width:90%;padding-left: 10%;padding-bottom:0.7%;border-radius:5px;} 
.nosotros--computer{width: 117%;height: 92%;padding-left: 20%;border-radius: 5px;}
.nosotros--computer2{width: 122%;height: 92%;padding-left: 24.5%;border-radius: 5px;}
.nosotros--h3-estilo{position:absolute;padding-top: 8%;padding-left: 15%;padding-right: 15%; color:rgb(229, 235, 230);
    font-family: 'Roboto', sans-serif;font-weight:bold;font-size: 33px;text-align:center;padding-bottom: 5%;line-height: 45px;text-shadow: white 2px 2px 4px;
}
